<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
        <%- include('head.ejs') %>
    </head>
	<body class="subpage">
        <%- include('navigation.ejs') %>
		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
                        <h2><strong>건강 맞춤<br>푸드 추천 서비스</strong></h2>
                        <!-- <hr style="border: solid 1px rgb(108, 192, 130);"> -->
						<!-- <p>Aliquam erat volutpat nam dui </p> -->
					</header>
					<!-- <div class="image round left">
						<img src="images/pic01.jpg" alt="Pic 01" />
					</div> -->
					<!-- <div class="image round right">
						<img src="images/pic02.jpg" alt="Pic 02" />
                    </div> -->
                    <div class="align-center">
                        <h4>사용자의 건강검진 내역을 불러와<br>건강 상태에 맞는 음식을 추천해드립니다.</h4>
                    </div>
                    <div class="align-center">
                        <p>    
                        <input type="checkbox" id="agree1" name="agree1" unchecked>
                            <label for="agree1"><strong>개인정보 취급 약관 동의</strong></label>
                            <ul class="actions">
                                <li><a href="#" class="button fit small">약관보기</a></li>
                            </ul>
                        </p>
                        <p>
                            <input type="checkbox" id="agree2" name="agree2" unchecked>
                            <label for="agree2"><strong>이용 약관 동의</strong></label>
                            <ul class="actions">
                                <li><a href="#" class="button fit small">약관보기</a></li>
                            </ul>
                        </p>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-xl btn-primary" id="next" style="width: 100%;" >
                        다음으로
                    </button>
                </div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>