<head>
<<<<<<< HEAD
    <title>Generic - Projection by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=3" />
    <link rel="stylesheet" href="assets/css/main.css" />
=======
    <title>NH</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

    .welcome-font{
        font-family: 'Do Hyeon', sans-serif;
    }
    .songmyung-font{
        font-family: 'Song Myung', serif;
    }
    .myeongjo-font{
        font-family: 'Nanum Myeongjo', serif;
    }
    .bold-font{
        font-family: 'Jua', sans-serif;
    }
    .cute-font{
        font-family: 'Stylish', sans-serif;
    }

    </style>
>>>>>>> 86d9c4aa92a265397175d1fe69e2d64864a41950
</head>