<!DOCTYPE HTML>
<!--
   Projection by TEMPLATED
   templated.co @templatedco
   Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
   <head>
        <%- include('head.ejs') %>
    </head>
   <body class="subpage">
        <%- include('navigation.ejs') %>
      <!-- Three -->
         <section id="three" class="wrapper align-center">
            <div class="inner">
               <header class="align-center">
                        <h2 class="welcome-font">당신의 맞춤 음식!</h2>
                        <!-- <hr style="border: solid 1px rgb(108, 192, 130);"> -->
						<!-- <p>Aliquam erat volutpat nam dui </p> -->
						<h4 class="myeongjo-font">당신은 <span style="color: #6cc091; font-weight: bold;">비만 </span>위험이 있습니다.</h4>
						<p class="myeongjo-font" style="color: rgb(247, 74, 74);">콜레스테롤 수치 주의 <br> (내 콜레스테롤 수치 : 233 mg/dl, 평균 콜레스테롤 수치 : 194 mg/dl)</p>
						<br>
						<h4 class="myeongjo-font"><span style="color: #6cc091; font-weight: bold;">비만 </span>예방 추천 음식</h4>
					</header>
					<div class="flex flex-3">
						<article>
							<div class="recommend1">
								<img src="images/dasima.jpg" alt="Pic 01" 
								style = "margin-top: 50px; margin-bottom: 50px;" />
							</div>
							<header>
								<h3 class="myeongjo-font"><strong>다시마</strong></h3>
							</header>
								<p class="myeongjo-font"><span style="color: #6cc091; font-weight: bold;">저지방, 저열량의 다시마<br><BR>섬유질</span>이 풍부해서 소화를 돕고<br>지방의 흡수를 막습니다.</p>
							<footer class="songmyung-font">
								<h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?userLogin=false&searchTerm=%EB%8B%A4%EC%8B%9C%EB%A7%88&smartTerm=&totalSearchTerm=&chanC=1101&CHAN_C=1101&brncfc=%2C0001%2C7001&page=1&listDiv=60&order=%EC%A0%95%ED%99%95%EB%8F%84%EC%88%9C&selectCat=&selectMk=&selectBene=&sCtgrCArr=&listType=&minCost=&maxCost=&reSearchTerm=" class="button">구매하기</a></h3>
							</footer>
						</article>
						<article>
							<div class="recommend2">
								<img src="images/greentea.jpg" alt="Pic 02" 
								style = "margin-top: 50px; margin-bottom: 50px;" />
							</div>
							<header>
								<h3 class="myeongjo-font"><strong>녹차</strong></h3>
							</header>
							
							<p class="myeongjo-font"><span style="color:#6cc091; font-weight: bold;">대표적인 그린 푸드</span><br><br>혈전 형성을 막아주고 <br><span style="color: #6cc091; font-weight: bold;">콜레스테롤과 혈당</span>을 낮추는데 효과적입니다.<br> </p>
							
							<footer class="songmyung-font">
								<h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?searchTerm_main=%EB%85%B9%EC%B0%A8%40undefined&CHAN_C=1101&chanC=1101" class="button">구매하기</a></h3>
								
							</footer>
						</article>
						<article>
							<div class="recommend3">
								<img src="images/bori.jpg" alt="Pic 03" 
								style = "margin-top: 50px; margin-bottom: 50px;" />
							</div>
							<header>
								<h3 class="myeongjo-font"><strong>새싹보리</strong></h3>
							</header>
							<p class="myeongjo-font"><span style="color: #6cc091; font-weight: bold;">영량소 함량이 높은 새싹보리 <br><br>낮은 열랑</span>에 중성지방 생성과 합성을 막고<br> 지방분해에 높은 효능을 보입니다.</p>
							<footer class="songmyung-font">
								<h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?searchTerm_main=%EC%83%88%EC%8B%B9%EB%B3%B4%EB%A6%AC%40undefined&CHAN_C=1101&chanC=1101" class="button">구매하기</a></h3>
							</footer>
						</article>
					</div><br><br>

					---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
				<h2 class="welcome-font" style="text-align: center; margin-top: 70px;" >함께 하면 좋은 푸드!</h2>
                <article style="float: center; ">
				<section id="three" class="wrapper align-center">
					<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="recommend4">
								<img src="images/banana.jpg" alt="Pic 04"/>
							</div>
							<header>
								<h3 class="myeongjo-font"><strong>바나나</strong></h3>
							</header>
							<p class="myeongjo-font"><span style="color:#6cc091; font-weight: bold;">다이어트에 효과적인 바나나</span><br><br>새싹보리와 함께 갈아마시면<br>맛있고 건강한 해독주스</p>
							<footer class="songmyung-font">
								<h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?searchTerm_main=%EB%B0%94%EB%82%98%EB%82%98%40undefined&CHAN_C=1101&chanC=1101" class="button">구매하기</a></h3>
							</footer>
						</article>
						<article>
							<div class="recommend5">
								<img src="images/tofu.jpg" alt="Pic 05"/>
							</div>
							<header>
								<h3 class="myeongjo-font"><strong>두부</strong></h3>
							</header>
							<p class="myeongjo-font"><span style="color:#6cc091; font-weight: bold;">단백질이 풍부한 두부</span><br><br>다시마와 함께 쌈 싸먹으면<br>담백하고 신선한 다이어트 음식</p>
							
							<footer class="songmyung-font">
								<h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?searchTerm_main=%EB%91%90%EB%B6%80%40undefined&CHAN_C=1101&chanC=1101" class="button">구매하기</a></h3>
								
							</footer>
						</article>
					</div>
					</div>
					
				</section>
				<h3 class="bold-font"><a href="index" class="button">메인으로</a></h3>      
				</article>
			</div>
			
		</section>

		


            


      <!-- Scripts -->
         <script src="assets/js/jquery.min.js"></script>
         <script src="assets/js/skel.min.js"></script>
         <script src="assets/js/util.js"></script>
         <script src="assets/js/main.js"></script>
            <script>
                $("#next").click(function(){
                        $(location).attr('href', 'http://localhost:3000/health_result');
                })
            </script>
   </body>
</html>