<!DOCTYPE HTML>
<<<<<<< HEAD
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
=======
<html>
	<head>
		<title>NH</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

		.welcome-font{
			font-family: 'Do Hyeon', sans-serif;
		}
		.songmyung-font{
			font-family: 'Song Myung', serif;
		}
		.myeongjo-font{
			font-family: 'Nanum Myeongjo', serif;
		}
		.bold-font{
			font-family: 'Jua', sans-serif;
		}
		.cute-font{
			font-family: 'Stylish', sans-serif;
		}

		</style>
>>>>>>> 86d9c4aa92a265397175d1fe69e2d64864a41950
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
<<<<<<< HEAD
					<a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
=======
					<a href="index" class="logo"><strong>Project</strong> by 농만추</a>
					<nav id="nav">
						<a href="index">Home</a>
>>>>>>> 86d9c4aa92a265397175d1fe69e2d64864a41950
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
<<<<<<< HEAD
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to Projection</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Aliquam</h3>
							<p>Suspendisse amet ullamco</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Elementum</h3>
							<p>Class aptent taciti ad litora</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Ultrices</h3>
							<p>Nulla vitae mauris non felis</p>
						</div>

					</div>

					<footer>
						<a href="#" class="button">Get Started</a>
					</footer>
=======
			<section id="banner" >
				<div class="inner">
					<header>
						<h1 class="welcome-font" style="color:rgb(255, 255, 255);">맞춤 푸드 월드에 오신 것을 환영합니다 !</h1>
					</header>

					<div class="flex ">
						<div>
							<span><img src="images/account.png" alt=""/></span>
							<h3 class="bold-font">계좌 관리</h3>
							<p class="myeongjo-font">계좌를 손쉽게 관리하세요!</p>
						</div>
					</div>

					<div class="bold-font">
						<h3><a href="#" class="button">시작하기</a></h3>
					</div>
>>>>>>> 86d9c4aa92a265397175d1fe69e2d64864a41950
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
<<<<<<< HEAD
							<div class="image round">
								<img src="images/pic01.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Lorem ipsum<br /> dolor amet nullam</h3>
							</header>
							<p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
=======
							<div class="prefer">
								<img src="images/preferences.png" alt="Pic 01" 
								style = "margin-top: 50px; margin-bottom: 50px;" />
							</div>
							<header>
								<h3 class="bold-font">취향 맞춤<br /> 푸드 추천</h3>
							</header>
							<p class="myeongjo-font">당신의 취향에 꼭 맞는 음식이 궁금하신가요?<br />저에게 <span style="color: rgb(94, 204, 94); font-weight: bold;">10가지 질문에 대한 답</span>을 주세요!<br />당신과 어울리는 음식을 알려드릴게요~<br />할인쿠폰을 드려요</p>
							<footer class="songmyung-font">
								<h3 class="bold-font"><a href="nbti_start" class="button">시작하기</a></h3>
>>>>>>> 86d9c4aa92a265397175d1fe69e2d64864a41950
							</footer>
						</article>
						<article>
							<div class="image round">
<<<<<<< HEAD
								<img src="images/pic02.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Sed feugiat<br /> tempus adipicsing</h3>
							</header>
							<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
=======
								<img src="images/health.png" alt="Pic 02" 
								style = "margin-top: 50px; margin-bottom: 50px;" />
							</div>
							<header>
								<h3 class="bold-font">건강 맞춤<br /> 푸드 추천</h3>
							</header>
							<p class="myeongjo-font">당신의 건강에 적합한 음식이 궁금하신가요?<br /><span style="color: rgb(94, 204, 94); font-weight: bold;">당신의 건강검진 결과</span>를 보여주세요!<br /> 건강검진 결과를 분석해서 필요한 음식을 알려드릴게요~<br />할인쿠폰을 드려요</p>
							<footer>
								<h3 class="bold-font"><a href="health" class="button">시작하기</a></h3>
>>>>>>> 86d9c4aa92a265397175d1fe69e2d64864a41950
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
<<<<<<< HEAD
			<footer id="footer">
=======
			<!-- <footer id="footer">
>>>>>>> 86d9c4aa92a265397175d1fe69e2d64864a41950
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
<<<<<<< HEAD
			</footer>
=======
			</footer> -->
>>>>>>> 86d9c4aa92a265397175d1fe69e2d64864a41950

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>