<!DOCTYPE HTML>
<html>
	<head>
		<title>NH</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

		.welcome-font{
			font-family: 'Do Hyeon', sans-serif;
		}
		.songmyung-font{
			font-family: 'Song Myung', serif;
		}
		.myeongjo-font{
			font-family: 'Nanum Myeongjo', serif;
		}
		.bold-font{
			font-family: 'Jua', sans-serif;
		}
		.cute-font{
			font-family: 'Stylish', sans-serif;
		}

		</style>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index" class="logo"><strong>Project</strong> by 농만추</a>
					<nav id="nav">
						<a href="index">Home</a>
						<a href="login">Login</a>
						<a href="Register">Register</a>
						<a href="Recommend">Recommend</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" >
				<div class="inner">
					<header>
						<h1 class="welcome-font" style="color:rgb(255, 255, 255);">맞춤 푸드 월드에 오신 것을 환영합니다 !</h1>
					</header>

					<div class="flex ">
						<div>
							<span><img src="images/nh5.png" alt=""/></span>
							<h3 class="bold-font">계좌 관리</h3>
							<p class="myeongjo-font">계좌를 등록하시고 적립금을 관리하세요!</p>
						</div>
					</div>

					<div class="bold-font">
						<h2>
							<a href="account" class="button" style="color: white;box-shadow:inset 0 0 0 3px #fff;" >계좌 등록</a>
							<a href="inquire_balance" class="button" style="color: white;box-shadow:inset 0 0 0 3px #fff;" >계좌 조회</a>
						</h2>
					</div>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="prefer">
								<img src="images/preferences.png" alt="Pic 01" 
								style = "margin-top: 50px; margin-bottom: 50px;" />
							</div>
							<header>
								<h3 class="bold-font">취향 맞춤<br /> 푸드 추천</h3>
							</header>
							<p class="myeongjo-font">당신의 취향에 꼭 맞는 음식이 궁금하신가요?<br />저에게 <span style="color: #6cc091; font-weight: bold;">10가지 질문에 대한 답</span>을 주세요!<br />당신과 어울리는 음식을 알려드릴게요~<br />적립금도 지급해 드려요.</p>
							<footer class="songmyung-font">
								<h3 class="bold-font"><a href="nbti_start" class="button">시작하기</a></h3>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="images/health.png" alt="Pic 02" 
								style = "margin-top: 50px; margin-bottom: 50px;" />
							</div>
							<header>
								<h3 class="bold-font">건강 맞춤<br /> 푸드 추천</h3>
							</header>
							<p class="myeongjo-font">당신의 건강에 적합한 음식이 궁금하신가요?<br /><span style="color:#6cc091; font-weight: bold;">당신의 건강검진 결과</span>를 보여주세요!<br /> 결과를 분석해서 필요한 음식을 알려드릴게요~<br />적립금도 지급해 드려요.</p>
							<footer>
								<h3 class="bold-font"><a href="health" class="button">시작하기</a></h3>
							</footer>
						</article>
					</div>
				</div>
			</section>
		
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>