<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
        <%- include('head.ejs') %>
    </head>
	<body class="subpage">
        <%- include('navigation.ejs') %>
		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
                        <h2 class="welcome-font">계좌 잔액 조회</h2>
                    </header>
                        <div class="align-center">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2"  style="border:1px solid; padding:10px;border-width: medium;">
                        <div id="resultDiv"></div> 
                    </div>
                    </div>     
                    </div>
                   <br>
                <div class="text-center mt-4" style="text-align:center">

                    <h5 class="bold-font" style="font-size: 30px ; margin-top: 50px;"><a href="index" class="button">메인으로</a></h5>

                </div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
            <script>
                $.ajax({
                    url:'/inquire_balance',
                    type : 'POST',
                    data : {
                    },
                    success:function(data){
                    console.log(data);
                    $("#resultDiv").html(
                        "<table border=3 bordercolor=black width=500 height=300 align=center>"+
                        "<tr align=center><td><strong>계좌번호</td><td><strong>잔액</strong></td></tr>"+
                        "<tr align=center><td>"+"3020000002982"+"</td><td>"+data.Ldbl+"</td></tr>"+
                        "</table>"
                      )
    
                    }
                })
                </script>
                <script>
                    $("#recommend").click(function(){
                        $(location).attr('href', 'http://localhost:3000/health_recommend');
                    })
                </script>
	</body>
</html>