<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="index" class="logo"><strong>농만추</strong></a>
        <nav id="nav">
            <a href="index">Home</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>
