<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="index" class="logo"><strong>농만추</strong></a>
        <nav id="nav">
            <a href="index">Home</a>
<<<<<<< HEAD
            <a href="generic">Generic</a>
            <a href="elements">Elements</a>
=======
>>>>>>> 86d9c4aa92a265397175d1fe69e2d64864a41950
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>
