<!DOCTYPE HTML>
<!--
   Projection by TEMPLATED
   templated.co @templatedco
   Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
   <head>
        <%- include('head.ejs') %>
   </head>
   <body class="subpage">
        <%- include('navigation.ejs') %>
         <section id="three" class="wrapper align-center">
            <div class="inner">
               <header class="align-center" >
                    <h2 class="welcome-font">당신의 취향저격 푸드!</h2>
                    <h4 class="myeongjo-font">튜닝의 끝은 순정! 당신은? </h4>
                    <h4 class="myeongjo-font"><span style="color: #6cc091; font-weight: bold;">고소하고 흰 우유 </span>입니다.</h4>
                    <img src="images/milk.png" alt="Pic 01" 
                    style = "margin-top: 50px; margin-bottom: 50px;" />
                    
                    <div class="box" style="width: 0 auto; margin-bottom: 100px;">
                        <p class="myeongjo-font" style="font-size: large; color: black;">부드럽고 고소한 맛과 하얀 눈꽃 같은 이미지로, 어디에나 잘 어울리는 우유를
                           닮은 당신! <br>
                           속이 깊은 당신은 불편하게 만드는 사람들도 몇 번은 참아주지만 선을 넘는다고 생각이 들면 가차 없이
                           정리하는군요. <br>은근히 귀여운 구석으로 지인들의 엄마 아빠 미소를 불러일으키기도 하네요!<br><br>
                           지금까지 0.655%의 사람이 같은 메뉴를 추천받았답니다!
                        </p>
                    </div>
               </header>
 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br><br><br>               
               <h2 class="welcome-font">당신과 어울리는 푸드!</h2>  
               
               <div class="flex flex-3">
                  <article>
                     <div class="recommend1">
                        <img src="images/almond.png" alt="Pic 01" 
                        style = "margin-top: 50px; margin-bottom: 50px;" />
                     </div>
                     <header>
                        <h3 class="bold-font">아몬드</h3>
                     </header>
                     <p class="myeongjo-font"><span style="color:#6cc091; font-weight: bold;">고소하고 담백한 아몬드</span><br><br> 맛뿐만 아니라 아몬드는 콜레스테롤 수치를 낮추고 <br>심장질환 예방에 도움이 되고<br> 피부, 치아 건강에 높은 효능을 보입니다.</p>
                     <footer class="songmyung-font">
                        <h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?searchTerm_main=%EC%95%84%EB%AA%AC%EB%93%9C&CHAN_C=1101&chanC=1101" class="button">구매하기</a></h3>
                     </footer>
                  </article>
                  <article>
                     <div class="recommend2">
                        <img src="images/cheese.png" alt="Pic 02" 
                        style = "margin-top: 50px; margin-bottom: 50px;" />
                     </div>
                     <header>
                        <h3 class="bold-font">치즈</h3>
                     </header>
                     <p class="myeongjo-font"><span style="color:#6cc091; font-weight: bold;">짭조름하고 부드러운 치즈</span><br><br> 치즈는 칼슘이 풍부하여 뼈건강에 좋은 도움을 주고 <br>단백질도 다량으로 함유하고 있어<br> 다이어트 효능까지 가지고 있습니다.</p>
                     <footer>
                        <h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?searchTerm_main=%EC%B9%98%EC%A6%88%40undefined&CHAN_C=1101&chanC=1101" class="button">구매하기</a></h3>
                     </footer>
                  </article>
                  <article>
                     <div class="recommend3">
                        <img src="images/tomato.png" alt="Pic 02" 
                        style = "margin-top: 50px; margin-bottom: 50px;" />
                     </div>
                     <header>
                        <h3 class="bold-font">토마토</h3>
                     </header>
                     <p class="myeongjo-font"><span style="color:#6cc091; font-weight: bold;">새콤달콤 토마토</span><br><br> 부종과 고혈압을 예방하는 칼륨과 <br>골다공증을 예방하는 칼슘과 마그네슘 등<br> 다양한 영양소를 함유하고 있습니다.</p>
                     <footer>
                        <h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?searchTerm_main=%ED%86%A0%EB%A7%88%ED%86%A0%40undefined&CHAN_C=1101&chanC=1101" class="button">구매하기</a></h3>
                     </footer>
                  </article>
               </div> <br><br>
               ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
               <h2 class="welcome-font" style="text-align: center; margin-top: 70px; margin-bottom: 70px;">함께 하면 좋은 푸드!</h2>
               <article style="float: left; margin-left: 250px; margin-right: 200px;">
                  
                  <div class="with">
                     <img src="images/egg.png" alt="Pic 02" 
                     style = "margin-top: 50px; margin-bottom: 50px;" />
                  </div>
                  <header>
                     <h3 class="bold-font">달걀</h3>
                  </header>
                  <p class="myeongjo-font"><span style="color:#6cc091; font-weight: bold;">몸에 좋은 달걀</span><br><br> 무엇이든 잘 어울리는 달걀 <br>각종 위험을 낮출뿐만 아니라 <br> 면역체계를 강화해줘요</p>
                  <footer>
                     <h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?searchTerm_main=%EB%8B%AC%EA%B1%80%40undefined&CHAN_C=1101&chanC=1101" class="button">구매하기</a></h3>
                  </footer>
                  
               </article>
               
               <article style="float: left;">
                  <div class="with2">
                     <img src="images/strawberry.png" alt="Pic 02" 
                     style = "margin-top: 50px; margin-bottom: 50px;" />
                  </div>
                  
                  <header>
                     <h3 class="bold-font">딸기</h3>
                  </header>
                  <p class="myeongjo-font"><span style="color:#6cc091; font-weight: bold;">토마토와 찰떡궁합 딸기</span><br><br> 비타민이 풍부하여 항암효과를 주고 <br>다량의 안토니아신 성분이 함유되어 있어<br> 시력보호에 도움을 줍니다</p>
                  <footer style="margin-bottom: 100px;">
                     <h3 class="bold-font"><a href="http://www.nonghyupmall.com/BC1F010M/srchTotalList.nh?searchTerm_main=%EB%94%B8%EA%B8%B0%40undefined&CHAN_C=1101&chanC=1101" class="button">구매하기</a></h3>
                  </footer>
                  
               </article>
               <h3 class="bold-font"><a href="index" class="button">메인으로</a></h3>      
            </div>
                        
         </section>
      
      <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
      <script>
            $("#next").click(function(){
                  $(location).attr('href', 'http://localhost:3000/health_result');
            })
      </script>
   </body>
</html>