<!DOCTYPE HTML>
<html>
	<head>
        <%- include('head.ejs') %>
    </head>
	<body class="subpage">
        <%- include('navigation.ejs') %>
		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
                        <h2 class="welcome-font">당신의 취향에 맞는<br>음식을 추천해 드릴게요~</h2>
					</header>
                    <div class="align-center" >
                        <h4 class="myeongjo-font">10가지 질문에 대답을 해주시면<br><span style="color: rgb(94, 204, 94); font-weight: bold;">취향 저격 소울푸드</span>를 추천해 드려요 <br/> 할인쿠폰도 드린답니다</h4>
                    </div>
                    <div class="prefer" style = "margin-top: 100px;" > </div>
                    <div class="text-center mt-4" style="text-align:center">
                        <button class="btn btn-xl btn-primary" id="next" >
                            다음으로
                        </button>
                    </div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>